<app-heading [titulo]="'Contacto'"></app-heading>

<div id="content">
    <div class="container">
      <div class="row">
        <!-- Formulario -->
        <section class="bar pt-0">
          <div class="row">
            <div class="col-md-12">
              <div class="heading text-center">
                <h2>Registrarse</h2>
              </div>
            </div>
            <div class="col-md-8 mx-auto">
              <form (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="documentIdentification">Documento de Identidad</label>
                      <input id="documentIdentification" type="number" class="form-control" required
                      maxlength="15" minlength="8" placeholder="Documento" [(ngModel)]="usuario.cedula" name="cedula">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Nombre</label>
                      <input id="name" type="text" class="form-control" required
                      title="Solo letras"
                      maxlength="40" minlength="4" placeholder="Nombre" pattern="[A-zñÑáéíóúÁÉÍÓÚ\s]+" [(ngModel)]="usuario.nombre" name="nombre">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="lastName1">Primer Apellido</label>
                      <input id="lastName1" type="text" class="form-control" required
                      title="Solo letras"
                      maxlength="25" minlength="4" placeholder="Primer Apellido"
                      pattern="[A-zñÑáéíóúÁÉÍÓÚ\s]+" [(ngModel)]="usuario.primerApellido" name="primerApellido">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="lastName2">Segundo Apellido</label>
                      <input id="lastName2" type="text" class="form-control"
                      maxlength="25" minlength="4" placeholder="Segundo Apellido"
                      title="Solo letras"
                      pattern="[A-zñÑáéíóúÁÉÍÓÚ\s]+" [(ngModel)]="usuario.segundoApellido" name="segundoApellido">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="fechaNacimiento">Fecha de Nacimiento</label>
                      <input id="fechaNacimiento" type="date" min="01/03/1918" max="today" class="form-control" required [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimieto">
                    </div>
                  </div>
                  <div class="col-sm-12 text-center">
                    <button id="guardarDatos" type="submit" class="btn btn-template-outlined"><i class="fas fa-user-plus"></i>Guardar Datos</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>

        <!-- Formulario -->
      </div>
    </div>
  </div>