<app-heading [titulo]="'CONTACTO'"></app-heading>

<div id="content">
    <div class="container">
      <div class="row">
        <!-- Formulario -->
        <section class="bar pt-0">
          <div class="row">
            <div class="col-md-12">
              <div class="heading text-center">
                <h2>Registrarse</h2>
              </div>
            </div>
          </div>     
         
            <div class="col-md-8 mx-auto">
              <form (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="documentIdentification">*Documento de Identidad</label>
                      <input id="documentIdentification" type="text" class="form-control" [(ngModel)]="usuario.cedula" name="cedula" #cedulaNg="ngModel" required minlength="5" maxlength="10" pattern="[0-9]*">
                      <span *ngIf="!cedulaNg.valid && cedulaNg.touched">
                        <div [hidden]="!cedulaNg.errors.minlength">Mínimo 5 números</div>          
                        <div [hidden]="!cedulaNg.errors.maxlength">Máximo 10 números</div>          
                        <div [hidden]="!cedulaNg.errors.required">Obligatorio</div>          
                        <div [hidden]="!cedulaNg.errors.pattern">Solo números</div>
                    </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">*Nombre</label>
                      <input id="name" type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre" #nombreNg="ngModel" required minlength="3" maxlength="50" pattern="[A-Z a-zñÑáéíóúÁÉÍÓÚ]*">
                      <span *ngIf="!nombreNg.valid && nombreNg.touched">
                        <div [hidden]="!nombreNg.errors.minlength">Mínimo 3 caracteres</div>          
                        <div [hidden]="!nombreNg.errors.maxlength">Máximo 50 caracteres</div>          
                        <div [hidden]="!nombreNg.errors.required">Obligatorio</div>          
                        <div [hidden]="!nombreNg.errors.pattern">Solo letras</div>          
                    </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="lastName1">*Primer Apellido</label>
                      <input id="lastName1" type="text" class="form-control" [(ngModel)]="usuario.primerApellido" name="primerApellido" #primerApellidoNg="ngModel" required minlength="3" maxlength="50" pattern="[A-Z a-zñÑáéíóúÁÉÍÓÚ]*">
                      <span *ngIf="!primerApellidoNg.valid && primerApellidoNg.touched">
                          <div [hidden]="!primerApellidoNg.errors.minlength">Mínimo 3 caracteres</div>          
                          <div [hidden]="!primerApellidoNg.errors.maxlength">Máximo 50 caracteres</div>          
                          <div [hidden]="!primerApellidoNg.errors.required">Obligatorio</div>          
                          <div [hidden]="!primerApellidoNg.errors.pattern">Solo letras</div>          
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="lastName2">Segundo Apellido</label>
                      <input id="lastName2" type="text" class="form-control" [(ngModel)]="usuario.segundoApellido" name="segundoApellido" #segundoApellidoNg="ngModel" minlength="3" maxlength="50" pattern="[A-Z a-zñÑáéíóúÁÉÍÓÚ]*">
                      <span *ngIf="!segundoApellidoNg.valid && segundoApellidoNg.touched">
                          <div [hidden]="!segundoApellidoNg.errors.minlength">Mínimo 3 caracteres</div>          
                          <div [hidden]="!segundoApellidoNg.errors.maxlength">Máximo 50 caracteres</div>         
                          <div [hidden]="!segundoApellidoNg.errors.pattern">Solo letras</div>          
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="fechaNacimiento">*Fecha de Nacimiento</label>
                      <input id="fechaNacimiento" type="date" class="form-control" [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimieto" #fechaNacimietoNg="ngModel" required min="01/01/1950" (change)="onChangeFecha()">
                      <span *ngIf="!fechaNacimietoNg.valid && fechaNacimietoNg.touched">
                          <div [hidden]="!fechaNacimietoNg.errors.required">Obligatorio</div>
                          <div [hidden]="!fechaNacimietoNg.errors.min">La fecha es muy antigua</div> 
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-12 text-center">
                    <button id="guardarDatos" type="submit" class="btn btn-template-outlined"><i class="fas fa-user-plus"></i>Guardar Datos</button>
                  </div>
                </div>
              </form>
            </div>
          
        </section>

        <!-- Formulario -->
      </div>

  </div>
</div>