<section style="background: url('../../../assets/img/credito5.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
  <div class="container">
    <!-- Carousel Start-->
    <div class="home-carousel">
      <div class="dark-mask mask-primary"></div>
      <div class="container">
        <div class="homepage owl-carousel">
          <div class="item">
            <div class="row">
              <div class="col-md-5 text-right">
                <p><img src=".\assets\img\credibank.png" alt="" class="ml-auto"></p>
                <h2>Bajas tasas de interés</h2>
                <p>Créditos con una tasa de interés fijo<br> de unidades de fomento (UF) del 1%.</p>
                <p><a [routerLink]="[ '/registro-usuario' ]" class="btn btn-template-outlined-white btn-lg">Registro</a></p>
              </div>
              <div class="col-md-7" align="center"><img src=".\assets\img\porcentaje2.png" class="img-fluid" style="width: 350px; height: 350px"></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-7" align="center"><img src=".\assets\img\persona3.png" class="img-fluid" style="width: 300px; height: 300px"></div>
              <div class="col-md-5">
                <p><img src=".\assets\img\credibank.png"></p>
                <h2>Sin aval personal</h2>
                <ul class="list-unstyled">
                  <li>El crédito es otorgado </li>
                  <li>sin el respaldo de garantes o avales</li>
                  <p><a [routerLink]="[ '/registro-usuario' ]" class="btn btn-template-outlined-white btn-lg">Registro</a></p>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-5 text-right">
                <p><img src=".\assets\img\credibank.png" alt="" class="ml-auto"></p>
                <h2>Refinanciación</h2>
                <ul class="list-unstyled">
                  <li>El plazo estipulado por el cliente</li>
                  <li>al inicio del prestamo puede ser ampliado</li>
                  <p><a [routerLink]="[ '/registro-usuario' ]" class="btn btn-template-outlined-white btn-lg">Registro</a></p>
                </ul>
              </div>
              <div class="col-md-7" align="center"><img src=".\assets\img\calendario.png" class="img-fluid" style="width: 250px; height: 250px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel End-->
  </div>
</section>